.encabezado {
    background-color: red!important;
    color: white;
    line-height: 35px;
}


.general {
    border: solid;

}

.div1 {
    border-bottom-style: ridge;
    margin-left: 1%;
    margin-right: 1%;
}



.div2 {

    color: white;
    background-color: red!important;
    margin-left: 1%;
    margin-right: 1%;
}